.comment-text{
    display: flex;
    margin-left: 20px;
}

form{
    display: flex;
    margin-left: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.commentsectioncontainer{
    border: 1px solid lavender;
    width: 63.8%;
    margin-left: 180px;
    border-radius: 3px;
}