.post-thumb{
    border-radius: 40px;
    width: 40%;
}

.post-header{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    border: 1px solid lavender;
    border-radius: 3px;
    width: 63.85%;
    margin-left: 180px;
}

.post-image{
    border-radius: 3px;
}


.post-username{
    margin-top: 15px;
    margin-left: -25px;
    font-weight: bold;
}

.commentlike{
    width: 50px;
}

.commentbubble{
    width: 50px;
    margin-left: 50px;
    margin-top: -20px;
}

.like-section{
    margin-left: 180px;

}

.like-section-wrapper{
    margin-left: -890px;
    margin-top: 10px;
    font-weight: bold;
}